/** Colors **/
  $primary-050: '#FF867B';
  $primary-100: '#F15243';
  $primary-200: '#DC3122';
  $primary-300: '#B50F00';
  $primary-400: '#9A0D00';
  $primary-500: '#830C01';
  $primary-600: '#640800';
  $primary-700: '#490600';
  $primary-800: '#290300';
  $primary-900: '#1B0200';
  $primary-1000: '#0D0000';

  $secondary-100: '#FFC8AA';
  $secondary-200: '#FFB78F';
  $secondary-300: '#FFAA7B';
  $secondary-400: '#FC985F';
  $secondary-500: '#EB8B55';
  $secondary-600: '#C96329';
  $secondary-700: '#B7541D';
  $secondary-800: '#9F4615';
  $secondary-900: '#80360C';

  $base-050: '#FFFFFF';
  $base-100: '#D7D7D7';
  $base-200: '#ABABAB';
  $base-300: '#7F7F7F';
  $base-400: '#606060';
  $base-500: '#4C4C4C';
  $base-600: '#3E3E3E';
  $base-700: '#2B2B2B';
  $base-800: '#161616';
  $base-900: '#000000';

  $warning-100: '#FF9292';
  $warning-200: '#FF7A7A';
  $warning-300: '#F56363';
  $warning-400: '#FF5A5A';
  $warning-500: '#E34E4E';
  $warning-600: '#CA3535';
  $warning-700: '#B52E2E';
  $warning-800: '#9C1A1A';
  $warning-900: '#721111';

  $success-100: '#99C7FF';
  $success-200: '#77B5FF';
  $success-300: '#4C9BFA';
  $success-400: '#2A8BFF';
  $success-500: '#006BEC';
  $success-600: '#004190';
  $success-700: '#003576';
  $success-800: '#001D3F';
  $success-900: '#000F20';


/** Type **/
$font-body: 'Montserrat Alternates', sans-serif;
$font-heading: 'Bungee Inline', cursive;
