/** Colors **/
  $brand-050: '#FF867B';
  $brand-100: '#F15243';
  $brand-200: '#DC3122';
  $brand-300: '#B50F00';
  $brand-400: '#9A0D00';
  $brand-500: '#830C01';
  $brand-600: '#640800';
  $brand-700: '#490600';
  $brand-800: '#290300';
  $brand-900: '#1B0200';
  $brand-1000: '#0D0000';

  $secondary-100: '#FFC8AA';
  $secondary-200: '#FFB78F';
  $secondary-300: '#FFAA7B';
  $secondary-400: '#FC985F';
  $secondary-500: '#EB8B55';
  $secondary-600: '#C96329';
  $secondary-700: '#B7541D';
  $secondary-800: '#9F4615';
  $secondary-900: '#80360C';

  /**
  Base:
    050: "#FFFFFF"
    100: "#D7D7D7"
    200: "#ABABAB"
    300: "#7F7F7F"
    400: "#606060"
    500: "#4C4C4C"
    600: "#3E3E3E"
    700: "#2B2B2B"
    800: "#161616"
    900: "#000000"
  Warning:
    100: "#FF9292"
    200: "#FF7A7A"
    300: "#F56363"
    400: "#FF5A5A"
    500: "#E34E4E"
    600: "#CA3535"
    700: "#B52E2E"
    800: "#9C1A1A"
    900: "#721111"
  Success:
    100: "#99C7FF"
    200: "#77B5FF"
    300: "#4C9BFA"
    400: "#2A8BFF"
    500: "#006BEC"
    600: "#004190"
    700: "#003576"
    800: "#001D3F"
    900: "#000F20"
    **/

/** Type **/
$font-body: 'Montserrat Alternates', sans-serif;
$font-heading: 'Bungee Inline', cursive;
