<button class='btn btn--primary'>Menu</button>
<button class='btn btn--secondary'>Menu</button>
<button class='btn btn--base'>Menu</button>
<button class='btn btn--success'>Menu</button>
<button class='btn btn--warning'>Menu</button>
<button class='btn btn--primary btn--flat'>Menu</button>
<button class='btn btn--seconday btn--flat'>Menu</button>
<button class='btn btn--base btn--flat'>Menu</button>
<button class='btn btn--success btn--flat'>Menu</button>
<button class='btn btn--warning btn--flat'>Menu</button>
