<button class='btn btn--primary'>Normal</button>
<button class='btn btn--secondary'>Normal</button>
<button class='btn btn--base'>Normal</button>
<button class='btn btn--success'>Normal</button>
<button class='btn btn--warning'>Normal</button>
<button class='btn btn--primary btn--flat'>Flat or Ghost</button>
<button class='btn btn--secondary btn--flat'>Flat or Ghost</button>
<button class='btn btn--base btn--flat'>Flat or Ghost</button>
<button class='btn btn--success btn--flat'>Flat or Ghost</button>
<button class='btn btn--warning btn--flat'>Flat or Ghost</button>
