<!-- MOBILE -->
<ul class='image-gallery'>
  <li class='image-gallery_image'><img src='#' /></li>
  <li class='image-gallery_image'><img src='#' /></li>
</ul>

<!-- TABLET -->
<ul class='image-gallery'>
  <li class='image-gallery_image'><img src='#' /></li>
  <li class='image-gallery_image'><img src='#' /></li>
  <li class='image-gallery_image'><img src='#' /></li>
  <li class='image-gallery_image'><img src='#' /></li>
</ul>

<!-- DESKTOP -->
<ul class='image-gallery'>
  <li class='image-gallery_image'><img src='#' /></li>
  <li class='image-gallery_image'><img src='#' /></li>
  <li class='image-gallery_image'><img src='#' /></li>
  <li class='image-gallery_image'><img src='#' /></li>
  <li class='image-gallery_image'><img src='#' /></li>
</ul>
