<!-- MOBILE -->
<ul class='image-gallery image-gallery-mobile'>
  <li class='image-gallery_image'><img src="/assets/toolkit/images/mobile-gallery-1.png" /></li>
  <li class='image-gallery_image'><img src="/assets/toolkit/images/mobile-gallery-2.png" /></li>
</ul>

<!-- TABLET -->
<ul class='image-gallery image-gallery-tablet'>
  <li class='image-gallery_image'><img src="/assets/toolkit/images/tablet-gallery-1.png" /></li>
  <li class='image-gallery_image'><img src="/assets/toolkit/images/tablet-gallery-2.png" /></li>
  <li class='image-gallery_image'><img src="/assets/toolkit/images/tablet-gallery-3.png" /></li>
  <li class='image-gallery_image'><img src="/assets/toolkit/images/tablet-gallery-4.png" /></li>
</ul>

<!-- DESKTOP -->
<ul class='image-gallery image-gallery-desktop'>
  <li class='image-gallery_image'><img src="/assets/toolkit/images/desktop-gallery-1.png" /></li>
  <li class='image-gallery_image'><img src="/assets/toolkit/images/desktop-gallery-2.png" /></li>
  <li class='image-gallery_image'><img src="/assets/toolkit/images/desktop-gallery-3.png" /></li>
  <li class='image-gallery_image'><img src="/assets/toolkit/images/desktop-gallery-4.png" /></li>
  <li class='image-gallery_image'><img src="/assets/toolkit/images/desktop-gallery-2.png" /></li>
</ul>
