<nav id='nav-desktop'>
  <div id='nav-desktop_links'>
    <p id='nav-desktop_links_logo'>Burger Arena</p>
    <ul id='nav-desktop_links_list'>
      <li class='nav-desktop_links_list_item'><a>Order</a></li>
      <li class='nav-desktop_links_list_item'><a>Menu</a></li>
      <li class='nav-desktop_links_list_item'><a>Locations</a></li>
      <li class='nav-desktop_links_list_item'><a>About</a></li>
    </ul>
  </div>
  <hr />
</nav>
<h1>Let's get cooking</h1>

{{> grouped-lockup}}

<h1>#BG4life</h1>
<p>Get ready for Burger Arena for life! Post a creative picture involving Burger Arena on social media using #BG4life for a chance to win Burger Arena for you and another of your choice. Be quick! This contest doesn’t last for long, we are already down to the hours before the contest closes.</p>
{{> countdown}}
<p>See some of the submissions we have recieved already! We love seeing you be a classic.</p>
<ul class='image-gallery image-gallery-desktop'>
  <li class='image-gallery_image'><img src="/assets/toolkit/images/desktop-gallery-1.png" /></li>
  <li class='image-gallery_image'><img src="/assets/toolkit/images/desktop-gallery-2.png" /></li>
  <li class='image-gallery_image'><img src="/assets/toolkit/images/desktop-gallery-3.png" /></li>
  <li class='image-gallery_image'><img src="/assets/toolkit/images/desktop-gallery-4.png" /></li>
  <li class='image-gallery_image'><img src="/assets/toolkit/images/desktop-gallery-2.png" /></li>
</ul>
