<h1>Let's get cooking</h1>
<div class='lockup-container'>
  <div class='lockup'>
    <img class='lockup_img' src="/assets/toolkit/images/lockup.png" />
    <h2 class='lockup__header'>How will you be a Classic today?</h2>
    <div class='lockup__redirects'>
      <button class='lockup__redirects__btn btn btn--primary'>Menu</button>
      <button class='lockup__redirects__btn btn btn--primary'>Online</button>
    </div>
  <div>
    <div class='lockup'>
      <img class='lockup_img' src="/assets/toolkit/images/sample-page-lockup.png" />
      <h2 class='lockup__header'>Need directions? We've got you covered</h2>
      <div class='lockup__redirects'>
        <button class='lockup__redirects__btn btn btn--primary'>Find a Location</button>
      </div>
    <div>
</div>
<h1>#BG4life</h1>
<p>Get ready for Burger Arena for life! Post a creative picture involving Burger Arena on social media using #BG4life for a chance to win Burger Arena for you and another of your choice. Be quick! This contest doesn’t last for long, we are already down to the hours before the contest closes.</p>
<p class='countdown'>10:12:13</p>
<p>See some of the submissions we have recieved already! We love seeing you be a classic.</p>
<ul class='image-gallery image-gallery-desktop'>
  <li class='image-gallery_image'><img src="/assets/toolkit/images/desktop-gallery-1.png" /></li>
  <li class='image-gallery_image'><img src="/assets/toolkit/images/desktop-gallery-2.png" /></li>
  <li class='image-gallery_image'><img src="/assets/toolkit/images/desktop-gallery-3.png" /></li>
  <li class='image-gallery_image'><img src="/assets/toolkit/images/desktop-gallery-4.png" /></li>
  <li class='image-gallery_image'><img src="/assets/toolkit/images/desktop-gallery-2.png" /></li>
</ul>
